.menu-item {
  border-bottom: 1px solid rgb(200, 200, 200);
  cursor: pointer;

  &:hover {
    opacity: 0.5;
    background-color: rgb(230, 230, 230)
  }
}

.menu-item__name-ingredients-list, .menu-item__price {
  padding: 24px
}

.menu-item__price {
  font-weight: bold;
  text-align: right;
}